* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.navbar {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 8vh;
}

.navbar ul {
    display: flex;
    gap: 1rem;
}

.navbar ul li {
    list-style: none;
}

.navbar .menu-icon {
    display: none;
}

.main-container {
    border: 1px solid;
    width: 100vw;
    height: 120vh;
    background-color: rgba(255, 68, 0, 0.637);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.main-container div {
    width: 40%;
    height: 80%;
    background-color: black;
}

.main-container article {
    width: 40%;
    height: 80%;
}

@media screen and (max-width:768px) {
    .main-container {
        flex-direction: column-reverse;
    }

    .main-container div {
        width: 90%;
        height: 30%;
    }

    .main-container article {
        width: 90%;
        height: 30%;
    }

}

@media screen and (max-width:440px) {
    .navbar ul {
        display: none;
    }

    .navbar .menu-icon {
        display: flex;
    }
}