/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#parent{
    margin: 20px;
    width: 400px;
    height: 400px;
    background-color: aqua;
}

#child{
    margin: 20px;
    width: 200px;
    height: 200px;
    background-color: lightgreen;
} */