* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

h1 {
    border: 1px solid;
    display: inline-block;
    position: relative;
    left: 100%;
    animation: textAnimation 10s linear infinite;
}

@keyframes textAnimation {
    0% {
        left: 80%;
    }

    20% {
        left: 60%;
    }

    40% {
        left: 40%;
    }

    60% {
        left: 20%;
    }

    80% {
        left: 0%;
    }

    99% {
        left: -20%;
        display: none;
    }

    100% {
        left: 100%;
        display: none
    }
}

.box {
    width: 13rem;
    aspect-ratio: 1/1;
    background-color: aqua;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem;
}

h3 {
    font-size: 24px;
    color: white;
    display: none;
}

.box:hover {
    transform: scale(1.5);
}

.box:hover h3 {
    display: inline-block;
}

.box1 {
    width: 20rem;
    height: 10rem;
    background-color: lightblue;
    margin: 10rem;
    border-radius: 1rem;
    position: relative;
}

.arrow {
    width: 40px;
    height: 40px;
    background-color: lightblue;
    position: absolute;
    bottom:-10px;
    right: 10%;
    transform: rotate(45deg);
}